@import "../vendor/reset";
@import "../vendor/include-media";
@import "../helpers/font-face";
@import "../helpers/mixins";

@import "../vendor/cds-light-theme";
@import "@compassion-global-experience/core/light.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

._cds-light-theme {
  --gradient: radial-gradient(
      680.52% 542.05% at 63.07% 48.74%,
      #005eb8 0%,
      rgba(187, 221, 230, 0.05) 30%
    ),
    linear-gradient(35deg, #4188c6 20.54%, rgba(187, 221, 230, 0) 50%);
}

.icon-inline {
  display: inline;
  padding-left: 0.5em;
}

main {
  position: relative;
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23EEF0F2' d='M0 0h24v24H0V0Z'/%3E%3Cpath fill='%23C2C3C7' d='M14 12.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z'/%3E%3C/svg%3E");

    background-repeat: repeat;
    content: "";
    display: block;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

._cds-light-theme {
  font: var(--typography-body-p-mobile-regular);
  strong {
    font: var(--typography-body-p-mobile-bold);
    color: var(--semantic-color-text-default);
  }
  @include media(">=md") {
    font: var(--typography-body-p-desktop-regular);
    strong {
      font: var(--typography-body-p-desktop-bold);
    }
  }

  .cds-title {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--semantic-color-text-muted);
  }

  h1 {
    font: var(--typography-heading-h1-mobile-regular);

    @include media(">=md") {
      font: var(--typography-heading-h1-desktop-regular);
    }
  }

  h2 {
    font: var(--typography-heading-h2-mobile-regular);

    @include media(">=md") {
      font: var(--typography-heading-h2-desktop-regular);
    }
  }

  h1,
  h2 {
    @include gradient-text();
  }

  img {
    border-style: none;
    max-width: 100%;
  }

  p {
    color: #686a60;
  }

  a {
    color: var(--semantic-color-text-primary);
  }
}

.intro__hero {
  .intro__section__content {
    justify-items: center;
    padding-top: 48px;
    gap: 32px;
  }

  .intro__section__content.intro__content__left {
    flex-direction: row;
    text-align: left;
  }

  display: grid;
  grid-template-rows: repeat(2, auto);
  text-align: center;
  grid-gap: 0;

  .intro__section__copy {
    display: flex;
    flex-direction: column;

    @include media(">=lg") {
      align-self: center;
      flex: 50;
    }
  }

  .intro__section__illustration {
    max-width: 145px;

    @include media(">=lg") {
      flex: 50;
      max-width: 240px;
    }
  }
}

.intro__hero__illustration {
  max-height: 273px;

  @include media(">=md") {
    max-height: unset;
  }
}

.intro__hero__2column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;

  @include media(">=md") {
    grid-template-columns: 1fr 1fr;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  }

  .contact__options {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    justify-self: start;

    @include media(">=md") {
      grid-row-gap: 72px;
    }

    h3 {
      margin-bottom: 13px;
    }
  }
}

.isometric__image {
  background-color: #ffffff;
  @include media(">=md") {
    background-color: transparent;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 150%;
    left: 50%;
    width: 50%;
    height: 100vh;

    img {
      display: none;
    }
  }
}

.isometric__image.partner {
  @include media(">=md") {
    background-image: url("../images/screenshots.png");
  }
}

.isometric__image.design__system {
  @include media(">=md") {
    background-image: url("../images/componentsWithShadow.png");
  }
}

.cta-button {
  text-decoration: none;
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  button::after {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
}

.cta-button.primary {
  button::after {
    content: url(../images/arrow-right.svg);
  }
}

.cta-button.tertiary {
  button {
    border-bottom: 1px solid var(--button-tertiary-default-border-color);
  }
  button::after {
    content: url(../images/arrow-right-blue.svg);
  }
}

.intro__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 16px;
}

.intro__list-item__link {
  @include gradient-text();

  font: var(--typography-body-p-mobile-bold);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include media(">=md") {
    font: var(--typography-body-p-desktop-bold);
  }
}

.intro__section__illustration {
  @include media(">=md") {
    flex: 50;
  }
}

.intro__section__copy {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  font: var(--typography-body-p-mobile-regular);

  @include media(">=md") {
    font: var(--typography-body-p-desktop-regular);
    flex: 50;
  }

  h3.upper {
    font-family: "Gotham Bold";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.intro__section__copy.isometric__background {
  @include media(">=md") {
    width: 50%;
    flex: none;
  }
}

.intro__for-designers,
.intro__for-developers,
.intro__support {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 0;
  padding: 0 0;
}

.intro__section__content,
.page__section__content {
  display: grid;
  gap: 44px;
  padding: 20px;
  background: white;

  @include media(">=md") {
    gap: 88px;
    padding-left: 64px;
    padding-right: 64px;
  }

  @include media(">=lg") {
    padding-left: 128px;
    padding-right: 128px;
  }
}

.page__section__content {
  padding-top: 128px;
}

.page__section__indented {
  @include media(">=lg") {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.page__section__2columns {
  @include media(">=md") {
    grid-template-columns: 1fr 1fr;
  }
}

.intro__hero .has-fade {
  background: transparent;
  position: relative;

  @include fade("out");
}

.intro__support .has-fade {
  background: transparent;

  @include fade("in");
}

@include media(">=md") {
  .intro__hero {
    .intro__section__content {
      display: flex;
      flex-direction: row-reverse;
      text-align: left;

      .cta-button {
        align-self: flex-start;
      }
    }
  }
}

.intro__isometric__background {
  flex-direction: row;
  display: flex;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  flex: none;

  @include media(">=lg") {
    padding-left: 128px;
    padding-right: 128px;
  }
}

.intro__for-designers .intro__section__content {
  padding-top: 88px;

  @include media(">=md") {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 128px;
    padding-bottom: 88px;
  }
}

.intro__for-developers .intro__section__content {
  padding-bottom: 128px;

  @include media(">=md") {
    padding-top: 88px;
    display: flex;
  }
}

.intro__support {
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding: 0;
  position: relative;
  z-index: 2;

  .intro__section__content {
    justify-items: center;
  }

  .intro__section__copy {
    text-align: center;
  }

  .intro__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    @include media(">=md") {
      max-width: 360px;
    }

    @include media(">=lg") {
      width: 100%;
      max-width: 100%;
    }
  }

  .intro__list-item {
    @include gradient-background();
    padding: 50px;
    border-radius: 8px;
    max-width: 360px;

    a {
      text-decoration: none;
    }

    .heading,
    p {
      color: white;
    }

    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon-left {
      margin-right: 0.5em;
    }
  }

  .intro__list-item__link {
    text-align: center;
    background: transparent;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 30px;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
  }

  .intro__support__hr {
    width: 27px;
    border-top: 3px solid white;
  }

  .intro__section__content {
    gap: 16px;
  }

  .intro__section__description {
    font: var(--typography-body-p-mobile-regular);
  }

  .intro__section__cta {
    button {
      color: var(--button-inverse-primary-default-text-color);
      border-color: var(--button-inverse-primary-default-border-color);
      border-bottom: 1px solid;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    button::after {
      content: "";
      display: inline-block;
      margin-left: 8px;
      height: 16px;
      width: 16px;
      background-size: 16px 16px;
      background-image: url(../images/arrow-right.svg);
      background-repeat: no-repeat;
    }

    button:hover {
      color: var(--button-inverse-primary-default-text-color);
      border-color: var(--button-inverse-primary-default-text-color);
    }
  }
}

.coming-soon {
  cursor: default;

  .tag--coming-soon {
    @include gradient-background();
    @include undo-gradient-text();
    color: white;

    margin-left: 0.5em;
    font: var(--typography-body-p-minus1-mobile-regular);
    padding: 4px 8px;
    border-radius: 8px;
  }
}

.no-wrap {
  white-space: nowrap;
}

ul.text__card h3,
ul.image__card h3 {
  font-family: "Gotham Bold";
  font-size: 16px;
}

ul.text__card,
ul.image__card,
ul.process {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

ul.text__card {
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  display: flex;

  li {
    @include gradient-background();
    padding: 16px;
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    gap: 16px;
    flex-direction: column;
    @include media(">=md") {
      max-width: 30%;
    }
  }

  h3,
  p {
    color: #ffffff;
  }

  img {
    align-self: start;
  }
}

ul.image__card {
  flex-wrap: wrap;
  display: flex;
  gap: 48px;

  @include media(">=md") {
    gap: 16px;
  }

  li {
    display: flex;
    gap: 24px;
    flex-direction: column;
    width: 100%;
    @include media(">=md") {
      max-width: 30%;
    }
  }
}

.process-grid {
  gap: 40px;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr 2fr 1.5fr;

  .arrow-column {
    grid-row: span 3;
    align-self: center;
  }
  h3 {
    font-size: 20px;
  }
}

ol.circle-numbers {
  max-width: 350px;
  counter-reset: number;
  list-style: none;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: number;
  position: relative;
}
ol li::before {
  content: counter(number);
  color: #ffffff;
  position: absolute;
  --size: 24px;
  left: calc(-1 * var(--size) - 16px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 2px;
  background: var(--semantic-color-background-primary);
  border-radius: 50%;
  text-align: center;
}

.circle-number {
  color: #ffffff;
  --size: 24px;
  left: calc(-1 * var(--size) - 16px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 2px;
  background: var(--semantic-color-background-primary);
  border-radius: 50%;
  text-align: center;
}

.sixteen-px-gap-flexbox {
  display: flex;
  gap: 16px;
}
